html,body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: orange;
    padding: 20px;
    
}
h1{
    text-align: center;
}
#lhs-aside{
    background-color: orange;
    float: left;
    width: 20%;
    padding: 15px;
}
#section-center{
    float: left;
    width: 60%;
    padding: 15px;
    text-align: center;
    background-color: #738290;
}
#rhs-aside{
    background-color: orange;
    float: left;
    width: 20%;
    padding: 15px;
}
#hero-welcome{
    text-align: center;
    height: 1000px;
}


div.card {
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
    line-height: 16px;    
    max-height: 210px;     
    -webkit-line-clamp: 2; /* Write the number of 
                              lines you want to be 
                              displayed */
    -webkit-box-orient: vertical;
}
#blog-body-limit{
    max-height: 200px;
}


img.card-img {
    width: 330px;
    height: 190px;
}

.signup, .login {
    margin: 100px 100px 100px 100px;
}
/* sky blue youtube tutorial on sticky social media */
.icon-bar {
  position: fixed;
  top: 40%;
  
}

.icon-bar ul{
  list-style-type: none;
  padding: 0;
  transform: translateX(-250px);
}

.icon-bar ul li{
    display: block;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: right;
    padding: 10px;
    border-radius: 0 30px 30px 0;
    transition: all 1s;
    
}

.icon-bar ul li:hover{
    transform: translateX(110px); 
}

.icon-bar ul li.facebook:hover {
  background: #3B5998;
  
}

.icon-bar ul li.twitter:hover {
  background: #55ACEE;
 
}

.icon-bar ul li.google:hover {
  background: #dd4b39;
 
}

.icon-bar ul li.linkedin:hover {
  background: #007bb5;

}

.icon-bar ul li.youtube:hover {
  background: #bb0000;
  
}

.icon-bar ul li a{
    color: white;
    text-decoration: none;
}

.icon-bar ul li i{
    text-align: center;
    margin-left: 15px;
    color: #000;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 20px;
    transform: rotate(0deg);
}

.icon-bar ul li:hover i{
    transform: rotate(360deg);
    transition: all 1s;
}

/* end of sky blue */



