{% extends 'base.html'%}
{% block content %}
{% for blog in blogs %}
<div class="row" style="height:1000px;">
    <div class="column">
        <h1 id="title" name="title">{{ blog.title }}</h1>
        <img src="{{ blog.img_src }}" class="card-img" id="img_src" name="img_src">
        <p>{{ blog.body | safe }}</p>
        <hr>
        {% if session.logged_in %}
        <a class=" btn btn-primary" href="/edit_blog/{{ blog._id }}">Edit Blog </a>
        <a class=" btn btn-primary" href="/delete_blog/{{blog._id}}">Delete Blog </a>
        {% endif %}
    </div>
</div>
{% endfor %}



{% endblock %}