{% extends 'base.html'%}
{% block content %}
<h2>{{page_title}}</h2>
<p>You are logged on to your workspace {{session.username }}</p>
<a class=" btn btn-primary" href="/add_blog">Add Blog </a>
<br>
<hr>
    {% for blog in blogs %}
      
      {% if loop.index % 2 !=0 %}

<div class="card mb-3" style="max-width: 1000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{ blog.img_src }}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
      <h5 class="card-title"><a href="/blog/{{ blog._id }}">{{ loop.index }}. {{ blog.title }}</a></h5>
        <p class="card-text">{{ blog.body }}</p>
        <p class="card-text">{{ blog.user_name }}</p>
        <p class="card-text"><small class="text-muted">{{blog.date}}</small></p>
      </div>
    </div>
  </div>
  </div>
  {% else %}
<div class="card mb-3" style="max-width: 1000px;">
  <div class="row no-gutters">
    
    <div class="col-md-8">
      <div class="card-body">
       <h5 class="card-title"><a href="/blog/{{ blog._id }}">{{ loop.index }}. {{ blog.title }}</a></h5>
        <p class="card-text">{{ blog.body }}</p>
        <p class="card-text">{{ blog.user_name }}</p>
        <p class="card-text"><small class="text-muted">{{blog.date}}</small></p>
      </div>
    </div>
    <div class="col-md-4">
      <img src="{{ blog.img_src }}" class="card-img" alt="...">
    </div>
  </div>
</div>
  {% endif %}



{% endfor %}

{% endblock %}