{% extends 'base.html'%}
{% block content %}
<h2>{{page_title}}</h2>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes">
	{% for message in messages %}
	<li>{{ message }}</li>
	{% endfor %}
</ul>
{% endif %}
{% endwith %}
{% from "includes/_formhelpers.html" import render_field %}
{% for blog in blogs %}
<form class="edit_blog" method="POST" action="{{ url_for('edit_blog', blog_id=blog._id) }}"  id="users" name="users">
     <div class="form-group" style="max-width:500px;">
       {{render_field(form.title, class="form-control",id="blog_title")}} 
	</div>
    <div class="form-group" style="max-width:500px;">
       {{render_field(form.body, class="form-control",id="editor")}} 
	</div>
    <div class="form-group" style="max-width:500px;">
        {{render_field(form.username, class="form-control", id="blog_username")}}
	</div>
    <div class="form-group" style="max-width:500px;">
        {{render_field(form.date, class="form-control", id="blog_date")}}
	</div>
     <div class="form-group" style="max-width:500px;">
        {{render_field(form.img_src, class="form-control", id="blog_img_src")}}
	</div>
    <input type="submit" value="Update Blog" class="btn btn-primary">	
</form>
{% endfor %}
	

{% endblock %}