{% extends 'base.html'%}
{% block content %}
<h2>{{page_title}}</h2>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="flashes">
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% from "includes/_formhelpers.html" import render_field %}
<form class="signup" method="POST" action="/signup" id="users-signup" name="users">
	<div class="form-group" style="max-width:500px;" >
       {{render_field(form.name, class="form-control",id="name" )}}
	</div>
    <div class="form-group" style="max-width:500px;" >
        {{render_field(form.email, class="form-control",id="email" )}}
	</div>
    <div class="form-group" style="max-width:500px;">
       {{render_field(form.username, class="form-control",id="user_name" )}} 
	</div>
    <div class="form-group" style="max-width:500px;">
        {{render_field(form.password, class="form-control", id="password" )}}
	</div>
    <div class="form-group" style="max-width:500px;">
       {{render_field(form.confirm, class="form-control",id="confirm")}} 
	</div>
    <div class="form-group" style="max-width:500px;">
       {{render_field(form.accept_tos, class="form-control", id="accept_tos")}} 
	</div>
    <input type="submit" value="Register" class="btn btn-outline-primary">	
</form>
{% endblock %}

        
        
        
        