{% extends 'base.html'%}
{% block content %}
<h2>{{page_title}}</h2>
<p>You are logged on to your workspace{{user}}</p>
<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button class="btn btn-primary" type="button">+</button>
    <button class="btn btn-outline-success" type="button">Main button</button>
    <button class="btn btn-outline-success" type="button">Main button</button>
    <button class="btn btn-outline-success" type="button">Main button</button>
    
  </form>
</nav>
<i class="material-icons">
add_box
</i>
{% endblock %}